.wrapper{
  .header{
    height:100px;
    width:100vw;
    position:fixed;
    z-index: 10;
    display:flex;
    .title{
      width: 33%;
      text-align: center;
      line-height: 100px;
      font-size:50px;
      text-decoration: none;
      color:white;
      background-color: $mediumblue;
    }
    .form{
      width: 34%;
      background-color: $blue;
      display:flex;
      justify-content:center;
      align-items: center;
      &__input{
        width:300px;
        height:40px;
        background-color: white;
       
      }
    }
    .user{
      width: 33%;
      background-color: $light_blue;
      display:flex;
      align-items: center;
      justify-content: center;

      .btn{
        padding:5px;
        font-size: 25px;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 4px 4px;
        color: black;
      }
      .btn:active {
        box-shadow: none;
        position: relative;
        top:4px;
        left:4px;
      }
      &__name{
        background-color: orange;
      }
      &__edit{
        margin-left:50px;
        background-color: orange;
      }
    }
  }
}