.wrapper{
  .views{
    .main-view{
      width:100vw;
      height:100vh;
      padding:200px 150px 150px 400px;
      background-color: $light_gray;
      display:flex;
      position:relative;
      .photo-image{
        width:170px;
        height:170px;
        position: absolute;
        border: 1px solid;
      }
      .area1{
        background-color: red;
        top:500px;
        left:320px;
      }
      .area2{
        background-color: orange;
        top:100px;
        left:330px;
      }
      .area3{
        background-color: yellow;
        top:600px;
        left:900px;
      }
      .area4{
        background-color: greenyellow;
        top:100px;
        left:900px;
      }
      .area5{
        background-color: green;
        top:300px;
        left:1200px;
      }
      .area6{
        background-color: blue;
        top:650px;
        left:1350px;
      }
      .area7{
        background-color: midnightblue;
        top:950px;
        left:1050px;
      }
      .area8{
        background-color: purple;
        top:850px;
        left:550px;
      }
    }
  }
}