.wrapper{
  .views{
    .search-view{
      padding:200px 50px 150px 300px;
      width:100vw;
      height:100vh;
      .contents{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        background-color: gray;
        &__content{
          margin:10px;
          width: calc(90% / 3);
          height: calc(90% /2);
          &--image{
            width:100%;
            height:100%;
          }
        }
      }
    }
  }
}