.area-view
  .photo-image
    = image_tag @area_posts.image.url, class:"user-posts--image"
    -# - @area_posts.each do |post|
    -#   = link_to "#" do
    -#     = image_tag post.image.url, class:"user-posts--image"