.notification {
  position:absolute;
  top:100px;
  z-index: 9;
  width: 100vw;
  font-size:30px;
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}