.search-view
  .contents
    - @posts.each do |post|
      = link_to post_path(post.id), class: "contents__content" do
        = image_tag post.image.url, class: "contents__content--image"
  -# = paginate(@posts)