.wrapper
  .header
    .title
      = link_to "#", class: "title" do
        %p.title__name
          = RaceInsta
    .form
      .form__input

    .user
      .user__name eiichi
      .user__edit ログアウト
  .views
    .side-view
      .follow-user
        %p.follow-user__name kouichi
        .follow-user__image
      .follow-car
        %p.follow-car__name RAYBRIG
        .follow-car__image
    .main-view
      %img{alt: "motegi", height: "800", src: "/assets/motegi_map.jpg", width: "1100"}
      .photo-image.area1 area1
      .photo-image.area2 area2
      .photo-image.area3 area3
      .photo-image.area4 area4
      .photo-image.area5 area5
      .photo-image.area6 area6
      .photo-image.area7 area7
      .photo-image.area8 area8
 
